@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #111111;
}

/* Header Section Styles */
header {
  width: 100%;
  height: 40rem;
  border: 2px solid #111111;
}

/* Header -> Navbar Section Styles */
nav {
  width: 74%;
  height: 2rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content {
  width: 25.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid lightgray;
  margin: 0.6rem 0;
  border-radius: 2.6rem;
}
.nav-content li {
  list-style: none;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
}
.navbar h2 {
  color: #e6533c;
  font-size: 2rem;
}
.home {
  padding: 0.6rem 1rem;
  border-radius: 2.6rem;
  background: rgb(230, 83, 60);
}
.nav-content {
  padding: 0;
  margin: 0;
}

/* Header -> Banner Section Styles */
.banner {
  width: 74%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  width: 100%;
  height: 100%;
}
.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 4.3rem;
  font-weight: 900;
  margin: 0;
}
.banner-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.88rem;
  font-weight: 400;
  margin-top: 1rem;
}
.banner-image {
  position: relative;
}
.banner-image img {
  width: 19.4rem;
  height: 32.2rem;
  margin-top: 1.9rem;
}
.banner-content .banner-btn {
  padding: 1rem 2.2rem;
  border-radius: 2.6rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.banner-btn-2 {
  padding: 1rem 2.2rem;
  border-radius: 2.6rem;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.video-tutorial,
.workout-videos {
  width: 11rem;
  height: 6rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-tutorial .circle-div {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.content-div {
  margin: 0;
  margin-left: 0.5rem;
}
.content-div h2,
.workout-videos h2 {
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}
.content-div p,
.workout-videos p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
  margin-top: -0.7rem;
}
.workout-videos {
  flex-direction: column;
  text-align: left;
}
.workout-videos h2 {
  font-size: 2rem;
}
.workout-videos p {
  margin-top: -1rem;
}
.video-tutorial {
  position: absolute;
  top: 400px;
  right: 240px;
}
.workout-videos {
  position: absolute;
  top: 120px;
  left: 210px;
}
.banner-content h1 span {
  font-family: "Playwrite DK Uloopet", cursive;
}

/* Habit Section Styles */
.habit-section {
  width: 74%;
  height: 22rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.habit-contents-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.habit-heading {
  width: 100%;
  height: 8rem;
  margin: 0 auto;
  margin-top: -4rem;
  text-align: center;
}
.habit-heading h3 {
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.habit-heading p {
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: -1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.habit-content {
  width: 11rem;
  height: 13rem;
}
.habit-content img {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 5px solid #1A1A1A;
}
.habit-content h4 {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.habit-content p {
  font-size: 0.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

/* Run Section */
.run-section {
  width: 74%;
  height: 17rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  background: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
}
.run-content {
  width: 100%;
  height: 15rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.run-content h2 {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-weight: 900;
}
.run-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: -0.7rem;
}
.run-content button {
  padding: 0.8rem 2rem;
  border-radius: 2.3rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.run-image img {
  width: 17rem;
  height: 14.5rem;
  margin: 1rem;
  margin-right: 2rem;
  border-radius: 18px;
}

/* BMI Calculator Section */
.bmi-calculator {
  width: 47%;
  height: 6.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.bmi-calculator h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}
.bmi-calculator p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}
.bmi-main-part {
  width: 100%;
  height: 29rem;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.table-section h3 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
table tr td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  padding: 10px 20px;
}
.table-bold {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
.bmi-section {
  width: 31rem;
  height: 16rem;
}
.bmi-section h3 {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0;
  margin-left: 5px;
}
.bmi-section p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 24px;
  margin-left: 5px;
}
.forms div input,
.forms div select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  width: 45%;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px;
  color: #fff;
}
.forms div select {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
  padding: 5px;
}
#large-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  width: 95%;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px;
}
input::placeholder {
  padding-left: 10px;
}
.bmi-btn {
  padding: 0.6rem 2.2rem;
  border-radius: 2.6rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin-top: 0.6rem;
  margin-left: 5px;
}

/* Meet Our Team Section */
.team-section {
  width: 74%;
  height: 43rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.team-titles {
  width: 37rem;
  height: 6.6rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.team-titles h3 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
}
.team-titles p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}
.team-images {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
}
.team-first3-img,
.team-second3-img {
  display: flex;
}
.first-img1 {
  background-image: url(../images/trainer1.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 18.3rem;
  height: 14.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 6px 6px 12px;
  border-radius: 1rem;
}
.second-img1 {
  background-image: url(../images/trainer2.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 18.3rem;
  height: 14.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 6px 6px 6px;
  border-radius: 1rem;
}
.third-img1 {
  background-image: url(../images/trainer3.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 18.3rem;
  height: 14.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 12px 6px 6px;
  border-radius: 1rem;
}
.first-img2 {
  background-image: url(../images/trainer4.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 18.3rem;
  height: 14.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6px 6px 12px 12px;
  border-radius: 1rem;
}
.second-img2 {
  background-image: url(../images/trainer5.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 18.3rem;
  height: 14.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6px 6px 12px 6px;
  border-radius: 1rem;
}
.third-img2 {
  background-image: url(../images/trainer6.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: 18.3rem;
  height: 14.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6px 12px 12px 6px;
  border-radius: 1rem;
}
.img-titles div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.img-titles div h4 {
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
  margin: 5px 10px;
}
.img-titles div p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 5px 10px;
}

/* Creation Section */
.creation-section {
  width: 74%;
  height: 18rem;
  margin: 3rem auto;
  background: rgb(34, 34, 34);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.creation-section div img {
  width: 22.67rem;
  height: 17rem;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}
.creation-content {
  margin: 40px;
}
.creation-content h3 {
  color: #fff;
  font-weight: 900;
  font-size: 1.6rem;
}
.creation-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 600;
}
.creation-content button {
  padding: 0.6rem 2.2rem;
  border-radius: 2.6rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
#special-btn {
  padding: 0.6rem 2.2rem;
  border-radius: 2.6rem;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

/* Footer Section */
footer {
  width: 100%;
  height: 25rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-content {
  width: 74%;
  height: 14rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5rem;
}
.footer-content .left-content {
  width: 34%;
}
.left-content h2 {
  color: rgb(230, 83, 60);
  font-size: 3.8rem;
  font-weight: 800;
  margin: 0;
}
.left-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}
.middle-content h4,
.right-content h4 {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  font-weight: 700;
}
.middle-content p,
.right-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  font-weight: 400;
  margin: 10px 0;
}
.nav-icon {
  color: white;
  font-size: 25px;
  display: none;
}
.copyright p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* For Small Device */
@media screen and (max-width: 576px) {
  /* For All Sections */
  section {
    width: 100%;
  }

  /* Navbar section */
  .nav-content {
    display: none;
  }
  .nav-icon {
    display: block;
  }

  /* Banner Section */
  .banner {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .banner-content h1 {
    font-size: 2.5rem;
  }
  .banner-content {
    font-size: 0.8rem;
  }
  .video-tutorial{
    width: 9rem;
    height: 5rem;
    right: 170px;
    top: 350px;
  }
  .video-tutorial .circle-div{
    width: 2rem;
    height: 2rem;
  }
  .video-tutorial h2, .workout-videos h2{
    font-size: 1rem;
  }
  .video-tutorial p, .workout-videos p{
    font-size: 0.7rem;
  }
  .workout-videos{
    width: 9rem;
    height: 5rem;
    left: 170px;
  }
  .banner-image img{
    width: 100%;
    height: 100vh;
  }
  /* Habit Section */
  .habit-section {
    margin-top: 37rem;
    margin-left: 1.25rem;
    padding-top: 2.5rem;
  }
  .habit-contents-section {
    flex-direction: column;
    margin: auto;
    gap: 2rem;
    padding-left: 7.5rem;
    padding-top: 2.5rem;
  }
  .habit-heading {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-left: 30px;
  }
  .habit-heading h3{
    font-size: 1.5rem;
  }
  /* Run Section */
  .run-section {
    flex-direction: column;
    margin-top: 25rem;
    height: 100%;
    width: 100%;
  }
  .run-content{
    width: 90%;
  }
  .run-content h2{
    font-size: 2rem;
  }
  .run-content p{
    font-size: 0.8rem;
    width: 100%;
  }
  .run-image img {
    width: 100%;
    margin-left: 0;
  }

  /* BMI Section */
  .bmi-calculator {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
  }
  .bmi-main-part {
    flex-direction: column;
    height: 100%;
  }
  .bmi-section {
    width: 100%;
    margin-top: 1rem;
  }
  .forms{
    width: 100%;
  }

  /* Team Section */
  .team-section {
    width: 100%;
    height: 100%;
  }
  .team-titles {
    width: 100%;
    height: 100%;
  }
  .team-first3-img {
    flex-direction: column;
  }
  .first-img1,
  .second-img1,
  .third-img1 {
    width: 95%;
    height: 100vh;
    margin: 10px auto;
  }
  .team-second3-img {
    flex-direction: column;
  }
  .first-img2,
  .second-img2,
  .third-img2 {
    width: 100%;
    height: 100vh;
    margin: 10px 0;
  }

  /* Creation Section */
  .creation-section {
    flex-direction: column-reverse;
    margin-top: 6.25rem;
    height: 100%;
    width: 100%;
    gap: 3.1rem;
  }
  .creation-content {
    margin: 0;
  }
  .creation-img {
    text-align: center;
  }
  .creation-img img{
    width: 100%;
  }

  /* Footer Section */
  footer {
    height: 100%;
    width: 100%;
  }
  .footer-content {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
  }
}
